

    .jumbotron {
        background-image: url("https://images6.alphacoders.com/976/976553.jpg");
        background-size: cover;
      }

    .h1 class="display-41" {
        font-size: 10px;
    } 